snippet igv
	<div class="${1}">
		<label class="form-label" for="${2}"></label>
		<input class="form-control" type="${3:text}" name="${4:$2}" id="${2}" value="${5}">
	</div>
snippet igsv
	<div class="${1}">
		<label class="form-label" for="${2}"></label>
		<input class="form-control form-control-sm" type="${3:text}" name="${4:$2}" id="${2}" value="${5}">
	</div>
snippet ig
	<div class="${1}">
		<label class="form-label" for="${2}"></label>
		<input class="form-control" type="${3:text}" name="${4:$2}" id="${2}">
	</div>
snippet igs
	<div class="${1}">
		<label class="form-label" for="${2}"></label>
		<input class="form-control form-control-sm" type="${3:text}" name="${4:$2}" id="${2}">
	</div>
snippet inb
	<input class="form-control" type="${1:text}" name="${2}" id="${3:$2}" value="${4}">
snippet inbs
	<input class="form-control form-control-sm" type="${1:text}" name="${2}" id="${3:$2}" value="${4}">
